<script type="text/javascript" > window.ajaxurl = "{{ ajax_url|raw }}";</script>
<div id="zrdn__container-{{ recipe_id }}" class="zrdn__recipe_card">
  <div itemscope itemtype="http://schema.org/Recipe">

    <div class="row">
    <!-- Left hand split -->
      <div class="column half">
        <h2 class="zrdn__title" itemprop="name" class="{% if title_hide %}hidden{% endif %}" >{{ recipe_title }}</h2>
        <!-- Time -->
        <div class="row" style="border-top: 1px dotted gray; border-bottom: 1px dotted gray">
          {% if prep_time %}
            <div class="column one-third" style="height: 100%; border-right: 1px dotted gray">
              {% if prep_time_label_hide != 'Hide' %}
                {{ prep_time_label }}
              {% endif %}
              <span itemprop="prepTime" content="{{ prep_time_raw }}">{{ prep_time }}</span>
            </div>
          {% endif %}
          {% if cook_time %}
            <div class="column one-third" style="border-right: 1px dotted gray">
              {% if cook_time_label_hide != 'Hide' %}
                {{ cook_time_label }}
              {% endif %}
              <span itemprop="cookTime" content="{{ cook_time_raw }}">{{ cook_time }}</span>
            </div>
          {% endif %}
          {% if total_time %}
            <div class="column one-third">
              {% if total_time_label_hide != 'Hide' %}
                {{ total_time_label }}
              {% endif %}
              <span itemprop="totalTime" content="{{ total_time_raw }}">{{ total_time }}</span>
            </div>
          {% endif %}
        </div>

        <!-- Summary/Description -->
        {% if summary %}
          <div id="zlrecipe-summary" itemprop="description">
            {{ summary_rich|raw }}
          </div>
        {% endif %}
        <!-- Servings/Yield -->
        {% if yield %}
          <p id="zlrecipe-yield">
            {% if yield_label_hide != 'Hide' %}
              {{ yield_label }}
            {% endif %}
            <span itemprop="recipeYield">{{ yield }}</span>
          </p>
        {% endif %}
      </div>

      <!-- Right hand split -->
      <div class="column half">
        <!-- Ratings -->
        {{ recipe_rating|raw }}
        <!-- IMG -->
        {% if recipe_image %}
          <p class="t-a-c {% if image_hide == 'Hide' %}hide-card{% endif %} {% if image_hide_print == 'Hide' %}hide-print{% endif %}">
            <img class="photo" itemprop="image" src="{{ image }}" title="{{ recipe_title }}"
                 alt="{{ recipe_title }}"
                 {% if image_width %}style="width: {{image_width}}px;"{% endif %} />
          </p>
        {% endif %}
        <!-- Image -->
        {% if print_hide != "Hide" %}
          <div class="zlrecipe-print-link fl-r">
            {% if custom_print_image %}
              <a class="print-link" title="Print this recipe" href="javascript:void(0);" onclick="zlrPrint('zlrecipe-container-{{ recipe_id }}', '{{ ZRDN_PLUGIN_URL }}'); return false" rel="nofollow">
                <img src="{{ custom_print_image }}">
              </a>
            {% else %}
              <a class="butn-link" title="Print this recipe" href="javascript:void(0);" onclick="zlrPrint('zlrecipe-container-{{ recipe_id }}', '{{ ZRDN_PLUGIN_URL }}'); return false" rel="nofollow">
                {{ print_label }}
              </a>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
    <div>
      <!-- *********** -->
      <!-- Ingredients -->
      <!-- *********** -->
      <div>
        {% if ingredient_label_hide != "Hide" %}
          <p id="zlrecipe-ingredients" class="h-4 strong">{{ ingredient_label }}</p>
        {% endif %}

        {% set ingredientsHtmlListElem = ingredient_list_type %}
        {# one exception is when ingredient_list_type is 'l' #}
        {% if ingredient_list_type == 'l' %}{% set ingredientsHtmlListElem = 'ul' %}{% endif %}
        {% if ingredient_list_type == 'p' or ingredient_list_type =='div' %}{% set ingredientsHtmlListElem = 'span' %}{% endif %}

        {% set ingredientsHtmlListChildElem = 'li' %}
        {% if ingredient_list_type == 'p' %}{% set ingredientsHtmlListChildElem = 'p' %}{% endif %}
        {% if ingredient_list_type == 'div' %}{% set ingredientsHtmlListChildElem = 'div' %}{% endif %}

        <{{ ingredientsHtmlListElem }} id="zlrecipe-ingredients-list">
          {% for ingredient in ingredients %}
            {% if ingredient.type == 'image' %}
              <img src="{{ ingredient.content }}" />
            {% elseif ingredient.type == 'subtitle' %}
              {# no itemprop for sub-titles (aka labels) #}
              {# subtitles always use div #}
              <div class="{% if ingredient_list_type == 'l' %}ingredient no-bullet-label{% else %}ingredient-label{% endif %}">
                {{ ingredient.content|raw }}
              </div>
            {% else %}
              <{{ ingredientsHtmlListChildElem }} class="ingredient {% if ingredient_list_type == 'l' %}no-bullet{% endif %}" itemprop="recipeIngredient">
              {{ ingredient.content|raw }}
              </{{ ingredientsHtmlListChildElem }}>
            {% endif %}
          {% endfor %}
        </{{ ingredientsHtmlListElem }}>
      </div>
      <!-- *********** -->
      <!-- Instructions -->
      <!-- *********** -->
      {% if instruction_label_hide != 'Hide' %}
        <p id="zlrecipe-instructions" class="h-4 strong">{{ instruction_label }}</p>
      {% endif %}

      {% set instructionsHtmlListElem = instruction_list_type %}
      {# one exception is when instruction_list_type is 'l' #}
      {% if instruction_list_type == 'l' %}{% set instructionsHtmlListElem = 'ul' %}{% endif %}
      {% if instruction_list_type == 'p' or instruction_list_type == 'div' %}{% set instructionsHtmlListElem = 'span' %}{% endif %}

      {# child is always 'li' unless 'div' or 'p' #}
      {% set instructionsHtmlChildElem = 'li' %}
      {% if ingredient_list_type == 'p' %}{% set instructionsHtmlChildElem = 'p' %}{% endif %}
      {% if ingredient_list_type == 'div' %}{% set instructionsHtmlChildElem = 'div' %}{% endif %}

      <{{ instructionsHtmlListElem }} id="zlrecipe-instructions-list" class="instructions">
        {% for instruction in instructions %}
          {% if instruction.type == 'image' %}
            <img src="{{ instruction.content }}" />
          {% elseif instruction.type == 'subtitle' %}
            {# no itemprop for sub-titles (aka labels) #}
            {# subtitles always use div #}
            <div class="{% if instruction_list_type == 'l' %}instruction no-bullet-label{% else %}instruction-label{% endif %}">
              {{ instruction.content|raw }}
            </div>
          {% else %}
            <{{ instructionsHtmlChildElem }} class="instruction {% if instruction_list_type == 'l' %}no-bullet{% endif %}" itemprop="recipeInstructions">
              {{ instruction.content|raw }}
            </{{ instructionsHtmlChildElem }}>
          {% endif %}
        {% endfor %}
      </{{ instructionsHtmlListElem }}>

      <!-- Notes -->
      {% if notes %}
        {% if notes_label_hide != 'Hide' %}
          <p id="zlrecipe-notes" class="h-4 strong">{{ notes_label }}</p>
        {% endif %}
        <div id="zlrecipe-notes-list">
          {{ formatted_notes|raw }}
        </div>
      {% endif %}
      <!-- Nutrition -->
      {% if nutritional_info %}
        <div id="zlrecipe-nutrition" itemprop="nutrition" itemscope itemtype="http://schema.org/NutritionInformation">
          {% if serving_size %}
            {% if serving_size_label_hide != 'Hide' %}
              {{ serving_size_label }}
            {% endif %}
            <span itemprop="servingSize">{{ serving_size }}</span>
          {% endif %}

          {% if calories %}
            {% if calories_label_hide != 'Hide' %}
              {{ calories_label }}
            {% endif %}
            <span itemprop="calories">{{ calories }}</span>
          {% endif %}

          {% if fat %}
            {% if fat_label_hide != 'Hide' %}
              {{ fat_label }}
            {% endif %}
            <span itemprop="fatContent">{{ fat }}</span>
          {% endif %}

          {% if saturated_fat %}
            {% if saturated_fat_label_hide != 'Hide' %}
              {{ saturated_fat_label }}
            {% endif %}
            <span itemprop="saturatedFatContent">{{ saturated_fat }}</span>
          {% endif %}

          {% if carbs %}
            {% if carbs_label_hide != 'Hide' %}
              {{ carbs_label }}
            {% endif %}
            <span itemprop="carbohydrateContent">{{ carbs }}</span>
          {% endif %}

          {% if protein %}
            {% if protein_label_hide != 'Hide' %}
              {{ protein_label }}
            {% endif %}
            <span itemprop="proteinContent">{{ protein }}</span>
          {% endif %}

          {% if fiber %}
            {% if fiber_label_hide != 'Hide' %}
              {{ fiber_label }}
            {% endif %}
            <span itemprop="fiberContent">{{ fiber }}</span>
          {% endif %}

          {% if sugar %}
            {% if sugar_label_hide != 'Hide' %}
              {{ sugar_label }}
            {% endif %}
            <span itemprop="sugarContent">{{ sugar }}</span>
          {% endif %}

          {% if sodium %}
            {% if sodium_label_hide != 'Hide' %}
              {{ sodium_label }}
            {% endif %}
            <span itemprop="sodiumContent">{{ sodium }}</span>
          {% endif %}

        </div>
      {% endif %}

      <!-- Powered by -->
      {% if attribution_hide != 'Hide' %}
        <div class="zl-linkback">Recipe Management Powered by <a title="Zip Recipes Plugin" href="http://www.ziprecipes.net" target="_blank">Zip Recipes Plugin</a></div>
      {% endif %}

      <!-- Version -->
      <div class="ziprecipes-plugin" style="display: none;">{{version}}</div>

      <!-- Permalink (For Printing) -->
      {% if print_permalink_hide != 'Hide' %}
        <a id="zl-printed-permalink" href="{{ permalink }}" title="Permalink to Recipe">{{ permalink }}</a>
      {% endif %}

      <!-- Copyright Statement (For Printing) -->
      {% if copyright %}
        <div id="zl-printed-copyright-statement" itemprop="copyrightHolder">{{ copyright }}</div>
      {% endif %}
    </div>